body {
    background-image: url("vecteezy_minimalist-dark-gradient-wave-background-simple-design-for_7718309.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.navigacija {
    background-image: url("vecteezy_minimalist-dark-gradient-wave-background-simple-design-for_7718309.jpg");
    background-repeat: no-repeat;
    padding: 1.5vw;
}

.vnatresna {
    display: flex;
    justify-content: center;
}

@keyframes colorChange {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: yellow; }
    100% { color: purple; }
}

.vnatresna a {
    color: white;
    text-decoration: none;
    margin: 0 5vw;
    padding: 5px;
    text-transform: uppercase;
}

.vnatresna a:hover {
    font-size: 1.3vw;
    transition: font-size 0.4s ease-in-out;
}

.odse {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.sliki {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.sliki > img {
    border-radius: 30%;
    animation: slideIn 1.5s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.tekst {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    margin-top: 20px;
}

.tekst p {
    margin: 10px 0;
    letter-spacing: 1px;
    font-size: 18px;
}





.marko {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 70px;
    animation: run 7s linear 1 forwards;
    opacity: 1;
}

@keyframes run {
    0% { left: 0; }
    99% { left: calc(100% - 100px); }
    100% { left: calc(100% - 100px);
        opacity: 0; }
}

.bowser {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 70px;
    animation: run 8s linear 1 forwards;
    opacity: 1;
}
.sliki img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}



